<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <title>Seleção de Opção de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='opcontrol.css') }}">
</head>
<body>
    <header>
        <h1>Escolha o Tipo de Equipamento para Entrar em Estoque</h1>
    </header>
    <main>
        <div class="container">
            <h2>Opções:</h2>
            <div class="options">
                <a href="{{ url_for('estoque_com_patrimonio') }}" class="option option-blue">
                    <h3>Equipamentos com Patrimônio</h3>
                    <p>Entrada de equipamentos identificados por número de patrimônio.</p>
                </a>
                <a href="{{ url_for('estoque_sem_patrimonio') }}" class="option option-orange">
                    <h3>Equipamentos sem Patrimônio</h3>
                    <p>Entrada de equipamentos sem necessidade de identificação por patrimônio.</p>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; AGS Solution</p>
    </footer>
</body>
</html>
